.ItemBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 440px;
    margin: 8px 0px;
    overflow: auto;
}

.ItemBlock::-webkit-scrollbar {
    width: 12px;
}

.ItemBlock::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
}

.ItemBlock::-webkit-scrollbar-track {
    background: #2F2F37;
}