body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.constructor-element {
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  width: 100%;
  min-height: 48px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
}

.constructor-element__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}